<footer>
  <div class="footerConainer">
    <div class="footerInner">
      <div>
        <a href="/"><i class="fa-brands fa-facebook-square"></i></a>
        <a href="/"><i class="fa-brands fa-instagram"></i></a>
        <a href="/"><i class="fa-brands fa-youtube"></i></a>
      </div>

      <dl class="footerContact">
        <dt class="title">꾸까 고객센터</dt>
        <dd class="phoneNumber">1661-1031</dd>
        <dd class="time">
          (평일 10:00 - 13:00, 14:00 - 18:00 / 주말 & 공휴일 제외)
        </dd>
        <dd class="alliance">기업제휴 문의 : 070-4238-8251</dd>
      </dl>

      <nav class="footerFaq">
        <a href="/" class="link">꾸까 고객센터 ></a>
      </nav>

      <dl class="footerAbout">
        <dt class="footerBlind">꾸까</dt>
        <dd>상호명: 꾸까(kukka)</dd>
        <dd>사업자 등록번호:264-81-32594</dd>
        <dd>대표자:박춘화</dd>
        <br class="only-pc" />
        <dd>소재지: 서울시 서초구 남부순환로333길 10 kukka</dd>
        <dd><a href="/">기업공시</a></dd>
        <dd>통신판매신고번호 2018-서울서초-1692</dd>
        <br class="only-pc" />
        <dd>© 2014-2021 kukka, Inc. All rights reserved.</dd>
      </dl>

      <div class="footerTermsWrap">
        <div class="footerTerms">
          <a href="/">이용약관</a>
          <a href="/">개인정보 처리방침</a>
          <a href="/">제휴안내</a>
        </div>
      </div>
    </div>
  </div>
</footer>
