<div class="navContainer">
  <div class="navWrap">
    <div class="logobox">
      <div class="logotextbox">
        <h1 class="kukkalogo"><a class="images" href="#"></a></h1>
        <i
          class="fa-solid fa-bag-shopping fa-lg"
          style="float: right; position: absolute; top: 13px; right: 18px"
        ></i>
      </div>
    </div>
    <div class="clearBoth"></div>
    <div class="navHeaderWrap">
      <div class="navHeader">
        <ul class="navList">
          <li class="List">
            <span class="login">로그인</span>
            <span class="register">
              회원가입<span class="userpoint">(1000 포인트 지급!)</span>
            </span>
            <span class="customerCenter">꾸까 고객센터</span>
            <span class="company">기업제휴</span>
          </li>
        </ul>
      </div>
      <div class="clearBoth"></div>

      <div class="navMainHeader">
        <div class="navMainMenu">
          <div class="navHeaderList">
            <img src="/public/images/꾸까꾸까꾸까.png" />
          </div>
          <div class="navHeaderList">
            <span class="meunLists">꽃 정기구독</span>
            <span class="meunLists">꽃다발</span>
            <span class="meunLists">당일배송</span>
            <span class="meunLists" id="flowerclass">플라워클래스</span>
            <span class="meunLists" id="video">동영상</span>
            <span class="meunLists">이벤트</span>
          </div>
          <div class="navHeaderList" style="text-align: right">
            <i
              class="fa-solid fa-user"
              style="margin-top: 20px; margin-left: 30px"
            ></i>
            <i
              class="fa-solid fa-bag-shopping"
              style="margin-top: 20px; margin-left: 25px"
            ></i>
          </div>

          <div class="clearBoth"></div>
        </div>
      </div>
    </div>
    <div class="navMenubox">
      <div class="subscribe">정기구독</div>
      <div class="flower">꽃다발</div>
      <div class="delivery">당일배송</div>
      <div class="flowerClass">플라워 클래스</div>
    </div>
    <div class="clearBoth"></div>

    <div class="navBottombox">
      <div class="catagorybox">
        <i class="fa-solid fa-bars"></i>
        <div class="catagory">카테고리</div>
      </div>
      <div class="eventBox">
        <i class="fa-solid fa-fan"></i>
        <div class="event">이벤트</div>
      </div>
      <div class="userBox">
        <i class="fa-solid fa-user"></i>
        <div class="userkuka">마이꾸까</div>
      </div>
      <div class="shoppingbox">
        <i class="fa-solid fa-bag-shopping"></i>
        <div class="shoppingCart">장바구니</div>
      </div>
      <div class="clearBoth"></div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('#flowerclass').click(function () {
      $(window).scrollTop(650);
    });
  });

  $(document).ready(function () {
    $('#video').click(function () {
      $(window).scrollTop(100);
    });
  });
</script>
