<div class="navContainer">
  <div class="navWrap">
    <div class="logobox">
      <div class="logo">KuKKa</div>
      <div class="logotext">Live every day with beautiful flowers</div>
    </div>
    <i
      class="fa-solid fa-bag-shopping fa-lg"
      style="float: right; position: absolute; top: 20px; right: 10px"
    ></i>

    <div class="navMenubox">
      <div class="subscribe">정기구독</div>
      <div class="flower">꽃다발</div>
      <div class="delivery">당일배송</div>
      <div class="flowerClass">플라워 클래스</div>
    </div>
    <div class="navBottombox">
      <div class="catagorybox">
        <i class="fa-solid fa-bars"></i>
        <div class="catagory">카테고리</div>
      </div>
      <div class="eventBox">
        <i class="fa-solid fa-fan"></i>
        <div class="event">이벤트</div>
      </div>
      <div class="userBox">
        <i class="fa-solid fa-user"></i>
        <div class="userkuka">마이꾸까</div>
      </div>
      <div class="shoppingbox">
        <i class="fa-solid fa-bag-shopping"></i>
        <div class="shoppingCart">장바구니</div>
      </div>
    </div>
  </div>
</div>
