<section class="slideContainer">
  <h2 class="slideTitle">
    <span>꽃과 함께 하는 일상,</span>
    <span class="bold">플라워클래스</span>
  </h2>

  <div class="firstImgBox">
    <img
      class="mainItemImg_1"
      id="mainImg"
      src="/public/images/slide1.jpeg"
      alt="img"
    />
    <div class="firstMetaData">
      <div class="text">매주 새로운 커리큘럼으로 배우는</div>
      <span class="linkText">플라워 클래스 자세히 보기</span>
      <img
        class="arrowIcon"
        src="/public/icon/iconmonstr-arrow-25.svg"
        alt="icon"
      />
    </div>
    <button class="nextButton">
      <img src="/public/icon/iconmonstr-arrow-25.svg" alt="next" />
    </button>
    <button class="preButton">
      <img
        class="preButtonIcon"
        src="/public/icon/iconmonstr-arrow-25.svg"
        alt="pre"
      />
    </button>
  </div>
  <ul class="itemList">
    <li class="item">
      <img
        class="itemImg"
        id="secondItemImg"
        src="/public/images/slide2.jpeg"
        alt="img"
      />
      <div class="itemMeta">
        <div class="itemName" id="secondItemName">오아시스 리스(2/21~2/27)</div>
        <div class="itemPrice" id="secondItemPrice">79,000원</div>
        <ul>
          <li class="tagListContents">
            <button class="tagButton">광화문</button>
          </li>
          <li class="tagListContents">
            <button class="tagButton">장실점</button>
          </li>
          <li class="tagListContents">
            <button class="tagButton">월계점</button>
          </li>
          <li class="tagListContents">
            <button class="tagButton">구로점</button>
          </li>
          <li class="tagListContents">
            <button class="tagButton">송파점</button>
          </li>
          <li class="tagListContents">
            <button class="tagButton">부산동래점</button>
          </li>
          <!-- <div class="underLine"></div> -->
        </ul>
      </div>
    </li>
    <li class="item">
      <img
        class="itemImg"
        id="thirdItemImg"
        src="/public/images/slide3.jpeg"
        alt="img"
      />
      <div class="itemMeta">
        <div class="itemName" id="thirdItemName">
          클래식 핸드타이드(2/28~3/6)
        </div>
        <div class="itemPrice" id="thirdItemPrice">82,000원</div>
        <ul>
          <li class="tagListContents">
            <button class="tagButton">광화문</button>
          </li>
          <li class="tagListContents">
            <button class="tagButton">장실점</button>
          </li>
          <li class="tagListContents">
            <button class="tagButton">월계점</button>
          </li>
          <li class="tagListContents">
            <button class="tagButton">구로점</button>
          </li>
          <li class="tagListContents">
            <button class="tagButton">송파점</button>
          </li>
          <li class="tagListContents">
            <button class="tagButton">부산동래점</button>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</section>

<script src="./js/slide.js"></script>
