<section class="slideContainer">
  <h2 class="slideTitle">
    <span>꽃과 함께 하는 일상,</span>
    <span class="bold">플라워클래스</span>
  </h2>

  <div class="firstImgBox">
    <img src="/public/images/slide1.jpeg" alt="img" />
    <div class="firstMetaData">
      <div class="text">매주 새로운 커리큘럼으로 배우는</div>
      <span class="linkText">플라워 클래스 자세히 보기</span>
      <img src="" alt="img" />
    </div>
  </div>

  <ul class="itemList">
    <li class="item">
      <img class="itemImg" src="/public/images/slide1.jpeg" alt="img" />
      <div class="itemMeta">
        <div class="itemName">오아시스 리스(2/21~2/27)</div>
        <div class="itemPrice">79,000원</div>
        <ul>
          <li class="tagListContents">
            <button class="tagButton">광화문</button>
          </li>
          <li class="tagListContents">
            <button class="tagButton">장실점</button>
          </li>
          <li class="tagListContents">
            <button class="tagButton">월계점</button>
          </li>
          <li class="tagListContents">
            <button class="tagButton">구로점</button>
          </li>
          <li class="tagListContents">
            <button class="tagButton">송파점</button>
          </li>
          <li class="tagListContents">
            <button class="tagButton">부산동래점</button>
          </li>
        </ul>
      </div>
    </li>

    <li class="item">
      <img class="itemImg" src="/public/images/slide1.jpeg" alt="img" />
      <div class="itemMeta">
        <div class="itemName">오아시스 리스(2/21~2/27)</div>
        <div class="itemPrice">79,000원</div>
        <ul>
          <li class="tagListContents">
            <button class="tagButton">광화문</button>
          </li>
          <li class="tagListContents">
            <button class="tagButton">장실점</button>
          </li>
          <li class="tagListContents">
            <button class="tagButton">월계점</button>
          </li>
          <li class="tagListContents">
            <button class="tagButton">구로점</button>
          </li>
          <li class="tagListContents">
            <button class="tagButton">송파점</button>
          </li>
          <li class="tagListContents">
            <button class="tagButton">부산동래점</button>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</section>
