.bottomBanner {
  height: 300px;
  padding: 20px 20px 50px;
  background-color: #f4f1f0;
}

.bottomBanner .carousel-inner {
  width: 100%;
}

.bottomBanner .carousel-item {
  width: 100%;
  height: 180px;
  background: url('/public/images/banner_slide1.png') no-repeat right;
  background-size: cover;
}

.bottomBanner .carousel-item:nth-child(2) {
  width: 100%;
  height: 180px;
  background: url('/public/images/banner_slide2.png') no-repeat;
  background-size: cover;
}
