.bottomBanner {
  width: 100%;
  padding: 40px 20px 50px;
  background-color: #f4f1f0;
}

.bottomBanner .tag {
  position: relative;
  overflow: hidden;
}

.bottomBanner .tag .title {
  float: left;
  font-weight: 700;
  font-size: 22px;
  padding-bottom: 20px;
}
.bottomBanner .tag .moreButton {
  float: right;
}

.bottomBanner .tag .moreButton a {
  font-size: 12px;
  color: inherit;
}
.bottomBanner .carousel-indicators {
  bottom: -45px;
}

.bottomBanner .carousel-indicators .active {
  background-color: #f5ca5f;
}

.bottomBanner .carousel-indicators li {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #e4e4e4;
}

.bottomBanner .carousel-inner {
  width: 100%;
}

.bottomBanner .carousel-inner .carousel-item {
  position: relative;
  width: 100%;
  height: 180px;
  background: url('/public/images/banner_slide1.png') no-repeat;
  background-position: right bottom;
  background-size: contain;
}

.bottomBanner .carousel-inner .carousel-item:nth-child(2) {
  width: 100%;
  height: 180px;
  background: url('/public/images/banner_slide2.png') no-repeat;
  background-position: right bottom;
  background-size: contain;
}

.bottomBanner .bottomBannerPcInner {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.bottomBanner .bottomBannerPcInner .bottomBannerPcItem {
  float: left;
  width: 50%;
  height: 100%;
  background: url('/public/images/banner_slide_w.png') no-repeat;
  background-position: right bottom;
  background-size: cover;
}

.bottomBanner .bottomBannerPcInner .bottomBannerPcItem:nth-child(2) {
  float: left;
  width: 50%;
  height: 100%;
  background: url('/public/images/banner_slide2_w.png') no-repeat;
  background-position: right bottom;
  background-size: cover;
}

.bottomBanner .carousel-item .carouselContents {
  position: absolute;
  top: 20%;
  padding: 0 20px;
}

.bottomBanner .carousel-item .carouselContents .carouselContentsTitle {
  font-size: 14px;
  line-height: 34px;
  font-weight: 500;
  letter-spacing: -0.33px;
}

.bottomBanner .carousel-item .carouselContents .carouselContentsInfo {
  font-size: 12px;
  font-weight: 300;
}

:root {
  --tabletSize: 768px;
  --red: red;
}

@media only screen and (min-width: 768px) {
  .bottomBanner {
    background-color: var(--red);
  }
}
