.footerConainer {
  color: #fff;
  background: #222;
}

.footerInner {
  width: auto;
  margin: 0 20px;
  padding: 50px 0;
}

.footerConainer a,
a:hover {
  text-decoration: none;
  color: #fff;
}

dd {
  margin: 0;
}

.fa-brands {
  font-size: 24px;
  padding: 20px 20px 20px 0;
}

.only-pc {
  display: none;
}

.footerContact {
  display: block;
}

.footerContact .title {
  float: left;
  padding-right: 5px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
}

.footerContact .phoneNumber {
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
}

.footerContact .time {
  margin-top: 5px;
  color: #9b9b9b;
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
}

.footerContact .alliance {
  padding: 5px 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}

.footerFaq {
  display: block;
  margin-top: 15px;
}

.footerFaq .link {
  width: 120px;
  display: block;
  height: 36px;
  border: #9b9b9b 1px solid;
  border-radius: 18px;
  font-size: 12px;
  line-height: 36px;
  cursor: pointer;
  padding: 0 20px;
}

.footerAbout {
  margin-top: 15px;
  padding: 15px 0;
  border-top: 1px solid #787878;
  font-size: 11px;
  color: #d3d3d3;
}

.footerAbout a {
  color: #d3d3d3;
}

.footerAbout .footerBlind {
  display: none;
}

.footerAbout dd {
  float: left;
  position: relative;
  margin-right: 14px;
}

.footerAbout dd::after {
  position: absolute;
  content: '';
  top: 3px;
  right: -9px;
  display: block;
  width: 1px;
  height: 11px;
  background: #d3d3d3;
}

.footerAbout dd:last-child::after {
  display: none;
}

.footerTermsWrap {
  display: block;
  margin: 50px 0 100px 0;
}

.footerTerms {
  float: left;
  margin-top: 30px;
}

.footerTerms a {
  float: left;
  display: block;
  font-size: 12px;
  margin-left: 30px;
}

.footerTerms a:first-child {
  margin-left: 0;
}

@media (min-width: 1024px) {
  .footerConainer {
    padding: 0 60px;
  }

  .footerInner {
    max-width: 1120px;

    padding: 80px 0;
    margin: 0 auto;
  }

  .fa-brands {
    font-size: 36px;
    padding: 20px 20px 20px 0;
  }

  .footerContact {
    float: left;
  }

  .footerContact .title {
    font-size: 22px;
    padding-right: 20px;
  }

  .footerContact .phoneNumber {
    float: left;
    /* display: block; */
    font-size: 22px;
  }

  .footerContact .time {
    float: left;
    margin-left: 14px;
  }

  .footerContact .alliance {
    padding: 40px 0 0 0;
  }

  .footerAbout {
    margin-top: 20px;
    padding-bottom: 20px;
  }

  .footerFaq {
    display: inline-block;
    margin-left: 17px;
    /* margin-top: 30px; */
  }

  .footerFaq .link {
    float: left;
    /* margin-top: 30px; */
  }

  .footerAbout {
    float: left;
    border: none;
    position: relative;
  }

  .footerAbout::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    top: 20px;
    left: 0;
    right: 0;
    height: 1px;
    background: #fff;
  }
  .footerAbout > dd {
    font-size: 14px;
    margin-right: 18px;
  }

  .footerAbout > dd::after {
    top: 4px;
    right: -10px;
    height: 13px;
  }

  .footerTerms {
    float: right;
  }

  .footerTerms a {
    font-size: 14px;
  }

  .only-pc {
    display: block;
  }
}
