.videoContainer {
  width: 100%;
  padding: 0 20px;
}

.videoWrap {
  max-width: 1120px;
  margin: 50px auto;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.videoWrap iframe,
object,
embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 1024px) {
  .videoWrap {
    padding-bottom: 40%;
  }
}
@media only screen and (min-width: 768px) {
}
