.slideContainer {
  width: 100vw;
  padding: 0 20px 40px;
}

.slideTitle {
  font-size: 22px;
  padding: 20px 0;
  margin: 0;
}

.bold {
  font-weight: 700;
}

.firstImgBox {
  position: relative;
}

.disabled {
  display: none;
}

.mainItemImg {
  width: 100%;
}

.firstImgBox .firstMetaData {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.firstMetaData .text {
  font-size: 14px;
}

.firstMetaData .linkText {
  font-size: 16px;
  font-weight: 700;
}

.firstMetaData .arrowIcon {
  width: 6px;
  height: 10px;
}

.nextButton {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  border-style: none;
  width: 60px;
  height: 60px;
  background: rgba(255, 255, 255, 0.517);
}

.preButton {
  position: absolute;
  top: 50%;
  left: 60px;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  border-style: none;
  width: 60px;
  height: 60px;
  background: rgba(255, 255, 255, 0.517);
}
.preButtonIcon {
  transform: rotate(180deg);
}

.itemList {
  list-style: none;
  padding: 0;
}

.item {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

.itemImg {
  width: 144px;
  height: 102px;
  margin-right: 20px;
  float: left;
  clear: both;
}

.itemMeta {
  font-size: 14px;
}

.itemName {
  margin: 10px 0;
}
.itemPrice {
  margin: 10px 0;
  font-weight: 500;
}

.tagListContents {
  display: inline-block;
}

.tagButton {
  border: 1px solid blue;
  border-radius: 50px;
  margin: 0 4px 2px 0;
  padding: 2px 8px;
  font-size: 10px;
  background: white;
}
